/*div{
  border: 1px solid black;
}*/

body{
  background-color: MidnightBlue ;
}

.nav-paginas{
   background-color: #e3f2fd;
}

ul{
  width: 100%;
}

a{
  width: 100% !important;
}

.container{
  background-color: white;
  border-radius: 10px;
}

.contenidos{
  margin-top: 1rem;
}

.imagenblog{
  width: 100%;
  margin-top: 3rem;
}

.comment-icon{
  align-content:
}

@media (min-width:768px){
  .linav{
    width: 16.66%;
  }
}
